<!DOCTYPE html>
<html>
  <head>
    <title>AlwaysNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <script>
      window.splashImage = "<%= image_url('splashImage.png') %>"
      window.gitHubLogo = "<%= image_url('GitHub-Mark.png') %>"
    </script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
